$background: #F7F8FA;


$white:    #FFF;
$gray-100: #F4F4F4;
$gray-200: #DBDBDB;
$gray-300: #C4C4C4;
$gray-400: #6F8094;
$gray-500: #4D5661;
$gray-600: #2E2D38;
$black:    #000;


$green-100: #DDF1E9;
$green-200: #5AAE8A;
$green-300: #4AA366;
$green-400: #285F43;
$green-500: #1D4D4F;


$red-100: #F3C0C5;
$red-200: #E26D78;
$red-300: #D62E3E;
$red-400: #6B171F;


$yellow-100: #FFF4CB;
$yellow-200: #FEE690;
$yellow-300: #FFDD2D;
$yellow-400: #C1A063;


$blue-100: #CBCDFF;
$blue-200: #90A8FE;
$blue-300: #2D81FF;
$blue-400: #253365;


$orange-100: #FFE1CB;
$orange-200: #FEB190;
$orange-300: #FF782D;
$orange-400: #934228;


$mainGreen: $green-300;
$prigreen: $mainGreen;
$darkGreen: $green-500;

$grey: $gray-400;
$darkGrey: $gray-500;
$dark: $gray-600;
$lightGrey: #B4BBCB;
$buttonGrey: #DFE4EC;
$softGrey: #EFF4FD;

$mainRed: $red-300;

$gold: $yellow-400;